*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
	font-family: sans-serif;
	color: inherit;
}
.dropdown {
	position: relative;
    display: inline-flex;
    background-image: url(flechablack.png);
    background-repeat: no-repeat;
    width: 90px;
    background-size: 15px 10px;
    background-position: right;
    height: 45px;
    align-card-images: center;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	top: 40px;
}
.dropdown:active .dropdown-content {
	display: block;
	color:  black;
}
.menu{
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	width: 100%;
  	padding: 15px 0;
  	background-color: white;
  	z-index: 2;
  	border-bottom: 1px solid #efefef;;
}
.footer {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    background-color: white;
    z-index: 2;
    border-bottom: 1px solid #efefef;
    bottom: 0;
}
#pinterest-icon{
	background-image: url(logoPinterest.png);
    background-repeat: no-repeat;
    width: 40px;
    background-size: 27px;
    height: 40px;
    background-position: center;
    border-radius: 20px;
}
.logoFooter{
	background-image: url(home.jpeg);
    background-repeat: no-repeat;
    width: 40px;
    background-size: 27px;
    height: 40px;
    background-position: center;
    border-radius: 20px;
}
#pinterest-icon:hover{
	background-color: #efefef;
}
.buttons-right-menu{
	display: inline-flex;
	align-card-images: center;
	width: 85%;
	justify-content: space-around;
}
.buttons-right-menu div{
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 25px;
	padding: 14px;
}
.buttons-right-menu div.active{
	background: black;
	color: white;
}
.buttons-left-menu{
	width: 14%;
	display: inline-flex;
	box-sizing: border-box;
	justify-content: space-around;
}
.search-input{
	background: #efefef;
    color: grey;
    border-radius: 25px;
    width: 70%;
}


.text-search {
    background-image: url(lupa.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 13px;
    width: 60%;
    background-color: #efefef;
    border-radius: 20px;
}
.text-search-footer{
		padding-left: 30px;
		padding-left: 30px;
    background-image: url(lupa.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 6px 6px;
    width: 10px;
    height: 35px;
}
#fname{
		border: none;
    background-color: #efefef;
    margin: 15px 45px;
    font-size: 16px;
    width: 90%;
}
#notification{
	  background-image: url(campana.png);
    background-repeat: no-repeat;
    width: 40px;
    background-size: 23px 23px;
    background-position: center;
    height: 35px;
    border-radius: 20px;
}
div#notification:hover{
	background-color: #efefef;
}
div#message:hover{
	background-color: #efefef;
}
div#profile-img:hover{
	background-color: #efefef;
}
div.more-about-user:hover{
	background-color: #efefef;
}
#message{
	background-image: url(message.png) ;
    background-repeat: no-repeat;
    width: 40px;
    background-size: 23px 23px;
    background-position: center;
    height: 35px;
    border-radius: 20px;
}

#profile-img{
	  background-image: url(user.png) ;
    background-repeat: no-repeat;
    width: 40px;
    background-size: 23px 23px;
    background-position: center;
    height: 35px;
    border-radius: 20px; 
}
.more-about-user{
	background-image: url(flechagrey.png) ;
    background-repeat: no-repeat;
    width: 40px;
    background-size: 15px 10px;
    background-position: center;
    height: 35px;
    border-radius: 20px;
}
.upload{
    background-image: url(upload.png);
    background-repeat: no-repeat;
    width: 35px;
    background-size: 20px 20px;
    background-position: center;
    height: 35px;
    border-radius: 20px;
    background-color: #efefef;
    opacity: 0.7;
    position: absolute;
    right: 55px;
    z-index: 1;
    bottom: 48px;
    display: none;
}
.upload:hover{
    opacity: 0.9;
}
.more{
		background-image: url(more.png);
    background-repeat: no-repeat;
    width: 35px;
    background-size: 20px 5px;
    background-position: center;
    height: 35px;
    border-radius: 20px;
    background-color: #efefef;
    opacity: .7;
    position: absolute;
    right: 13px;
    z-index: 1;
    bottom: 48px;
    display: none;
}
.more:hover{
    opacity: 0.9;
}
#content{
    margin: auto;
    width: 83%;
}

.grid-container {
	  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-card-images: flex-start;
}
.card-image{
	position: relative;
	filter: brightness(0.9);}
.save{
	  position: absolute;
    padding: 12px;
    border-radius: 20px;
    background: red;
    color: white;
    margin: 10px;
    margin-left: 0;
    display: none;
    right: 5px;
    z-index: 1;
}
.save:hover {
  background-color: darkred;
}
.text{
	font-size: 12;
    background-image: url(userText.jpeg);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: inherit;
    height: 40px;
    padding-left: 40px;
}
.grid-container img {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  border-radius:30px;
}
.grid-container img:hover {
  filter: brightness(0.6);
}
.footer{
		display: none;
}
@media screen and (max-width: 1024px)
{
	.grid-container {
	    grid-template-columns: repeat(3, 1fr);
	    grid-gap: 10px;
	}
	.footer{
		display: none;
	}
}
@media screen and (max-width: 768px)
{
	.grid-container {
	    grid-template-columns: repeat(2, 1fr);
	    grid-gap: 5px;
	}
	#content{
		width: 100%;
		margin: auto;
	}
	.grid-container img {
	    width: 100%;
	}
	.buttons-right-menu {
	    width: 100%;
	}
	.menu{
		display: none;
	}
	.footer{
		display: block;
	}
}
@media screen and (max-width: 390px)
{
	.grid-container {
	    grid-template-columns: repeat(1, 1fr);
	}
	.grid-container img {
	    width: 100%;
	}
	#content{
		width: 100%;
		margin: auto;
	}
	.buttons-right-menu {
	    width: 100%;
	}
	.menu{
		display: none;
	}
	.footer{
		display: block;
	}
}
